<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vanvalt.entity.AlarmInfo" >
  <!-- <cache type="org.mybatis.caches.memcached.MemcachedCache" /> -->
  <resultMap id="BaseResultMap" type="com.vanvalt.entity.AlarmInfo" >
    <id column="alertid" property="alertId" jdbcType="VARCHAR" />
    <result column="alertpid" property="alertPid" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="stationname" property="stationName" jdbcType="VARCHAR" />
    <result column="stationid" property="stationId" jdbcType="VARCHAR" />
    <result column="signaltype" property="signalType" jdbcType="VARCHAR" />
    <result column="signallevel" property="signalLevel" jdbcType="VARCHAR" />
    <result column="issuetime" property="issueTime" jdbcType="VARCHAR" />
    <result column="issuecontent" property="issueContent" jdbcType="VARCHAR" />
    <result column="recoverychannel" property="recoveryChannel" jdbcType="VARCHAR" />
    <result column="distinctionlevel" property="distinctionLevel" jdbcType="VARCHAR" />
    <result column="dstandardtune" property="dStandardTune" jdbcType="VARCHAR" />
    <result column="relievetime" property="relieveTime" jdbcType="VARCHAR" />
    <result column="dffectvaluate" property="dffectValuate" jdbcType="VARCHAR" />
    <result column="docietybenefit" property="docietyBenefit" jdbcType="VARCHAR" />
    <result column="tnumber" property="tNumber" jdbcType="VARCHAR" />
    <result column="underwriter" property="underwriter" jdbcType="VARCHAR" />
    <result column="change" property="change" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    alertid, alertpid, province, city, stationname, stationid, signaltype, signallevel, issuetime, issuecontent, recoverychannel,
    distinctionlevel, dstandardtune, relievetime, dffectvaluate, docietybenefit, tnumber, `change`, underwriter
  </sql>
  
  <select id="load" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_alarminfo
    where alertid = #{alertid,jdbcType=VARCHAR}
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from tb_alarminfo
    where alertid = #{alertid,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteBatch" parameterType="map">
    delete from tb_alarminfo
    where alertid in
    <foreach collection="array" item= "item" index ="index"
            open= "(" close =")" separator=",">
            #{item}
    </foreach >
  </delete>  
  
  <insert id="add" parameterType="com.vanvalt.entity.AlarmInfo" >
    insert into tb_alarminfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="alertPid != null" >
        alertpid,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="stationName != null" >
        stationname,
      </if>
      <if test="stationId != null" >
        stationid,
      </if>
      <if test="signalType != null" >
        signaltype,
      </if>
      <if test="signalLevel != null" >
        signallevel,
      </if>
      <if test="issueTime != null" >
        issuetime,
      </if>
      <if test="issueContent != null" >
        issuecontent,
      </if>
      <if test="recoveryChannel != null" >
        recoverychannel,
      </if>
      <if test="dStandardTune != null" >
        dstandardtune,
      </if>
      <if test="relieveTime != null" >
        relievetime,
      </if>
      <if test="distinctionLevel != null" >
        distinctionlevel,
      </if>
      <if test="dffectValuate != null" >
        dffectvaluate,
      </if>
      <if test="docietyBenefit != null" >
        docietybenefit,
      </if>
      <if test="tNumber != null" >
        tnumber,
      </if>
      <if test="underwriter != null" >
        underwriter,
      </if>
      <if test="change != null" >
        `change`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="alertPid != null" >
        #{alertPid,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="stationName != null" >
        #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="signalType != null" >
        #{signalType,jdbcType=VARCHAR},
      </if>
      <if test="signalLevel != null" >
        #{signalLevel,jdbcType=VARCHAR},
      </if>
      <if test="issueTime != null" >
        #{issueTime,jdbcType=VARCHAR},
      </if>
      <if test="issueContent != null" >
        #{issueContent,jdbcType=VARCHAR},
      </if>
      <if test="recoveryChannel != null" >
        #{recoveryChannel,jdbcType=VARCHAR},
      </if>
      <if test="dStandardTune != null" >
        #{dStandardTune,jdbcType=VARCHAR},
      </if>
      <if test="relieveTime != null" >
        #{relieveTime,jdbcType=VARCHAR},
      </if>
      <if test="distinctionLevel != null" >
        #{distinctionLevel,jdbcType=VARCHAR},
      </if>
      <if test="dffectValuate != null" >
        #{dffectValuate,jdbcType=VARCHAR},
      </if>
      <if test="docietyBenefit != null" >
        #{docietyBenefit,jdbcType=VARCHAR},
      </if>
      <if test="tNumber != null" >
        #{tNumber,jdbcType=VARCHAR},
      </if>
      <if test="underwriter != null" >
        #{underwriter,jdbcType=VARCHAR},
      </if>
      <if test="change != null" >
        #{change,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.vanvalt.entity.AlarmInfo" >
    update tb_alarminfo
    <set >
      <if test="alertPid != null" >
        alertpid = #{alertPid,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="stationName != null" >
        stationname = #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        stationid = #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="signalType != null" >
        signaltype = #{signalType,jdbcType=VARCHAR},
      </if>
      <if test="signalLevel != null" >
        signallevel = #{signalLevel,jdbcType=VARCHAR},
      </if>
      <if test="issueTime != null" >
        issuetime = #{issueTime,jdbcType=VARCHAR},
      </if>
      <if test="issueContent != null" >
        issuecontent = #{issueContent,jdbcType=VARCHAR},
      </if>
      <if test="recoveryChannel != null" >
        recoverychannel = #{recoveryChannel,jdbcType=VARCHAR},
      </if>
      <if test="dStandardTune != null" >
        dstandardtune = #{dStandardTune,jdbcType=VARCHAR},
      </if>
      <if test="relieveTime != null" >
        relievetime = #{relieveTime,jdbcType=VARCHAR},
      </if>
      <if test="distinctionLevel != null" >
        distinctionlevel = #{distinctionLevel,jdbcType=VARCHAR},
      </if>
      <if test="dffectValuate != null" >
        dffectvaluate = #{dffectValuate,jdbcType=VARCHAR},
      </if>
      <if test="docietyBenefit != null" >
        docietybenefit = #{docietyBenefit,jdbcType=VARCHAR},
      </if>
      <if test="tNumber != null" >
        tnumber = #{tNumber,jdbcType=VARCHAR},
      </if>
      <if test="underwriter != null" >
        underwriter = #{underwriter,jdbcType=VARCHAR},
      </if>
      <if test="change != null" >
        `change` = #{change,jdbcType=INTEGER},
      </if>
    </set>
    where alertid = #{alertId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateBatch" parameterType="map">
    update tb_alarminfo
    <set >
      <if test="alertPid != null" >
        alertpid = #{alertPid,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="stationName != null" >
        stationname = #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        stationid = #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="signalType != null" >
        signaltype = #{signalType,jdbcType=VARCHAR},
      </if>
      <if test="signalLevel != null" >
        signallevel = #{signalLevel,jdbcType=VARCHAR},
      </if>
      <if test="issueTime != null" >
        issuetime = #{issueTime,jdbcType=VARCHAR},
      </if>
      <if test="issueContent != null" >
        issuecontent = #{issueContent,jdbcType=VARCHAR},
      </if>
      <if test="recoveryChannel != null" >
        recoverychannel = #{recoveryChannel,jdbcType=VARCHAR},
      </if>
      <if test="dStandardTune != null" >
        dstandardtune = #{dStandardTune,jdbcType=VARCHAR},
      </if>
      <if test="relieveTime != null" >
        relievetime = #{relieveTime,jdbcType=VARCHAR},
      </if>
      <if test="distinctionLevel != null" >
        distinctionlevel = #{distinctionLevel,jdbcType=VARCHAR},
      </if>
      <if test="dffectValuate != null" >
        dffectvaluate = #{dffectValuate,jdbcType=VARCHAR},
      </if>
      <if test="docietyBenefit != null" >
        docietybenefit = #{docietyBenefit,jdbcType=VARCHAR},
      </if>
      <if test="tNumber != null" >
        tnumber = #{tNumber,jdbcType=VARCHAR},
      </if>
      <if test="underwriter != null" >
        underwriter = #{underwriter,jdbcType=VARCHAR},
      </if>
      <if test="change != null" >
        `change` = #{change,jdbcType=INTEGER},
      </if>
    </set>
    where alertid in
    <foreach collection="array" item= "item" index ="index"
            open= "(" close =")" separator=",">
            #{item}
    </foreach >
  </update>
  
  <select id="list" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_alarminfo
    <where>
      <if test="alertId != null and alertId != ''" >
        and alertid = #{alertId,jdbcType=INTEGER}
      </if>
      <if test="alertPid != null and alertPid != ''" >
        and alertpid = #{alertPid,jdbcType=VARCHAR}
      </if>
      <if test="province != null and province != ''" >
        and province = #{province,jdbcType=VARCHAR}
      </if>
      <if test="city != null and city != ''" >
        and city = #{city,jdbcType=VARCHAR}
      </if>
      <if test="stationName != null and stationName != ''" >
        and stationname = #{stationName,jdbcType=VARCHAR}
      </if>
      <if test="stationId != null and stationId != ''" >
        and stationid = #{stationId,jdbcType=VARCHAR}
      </if>
      <if test="signalType != null and signalType != ''" >
        and signaltype = #{signalType,jdbcType=VARCHAR}
      </if>
      <if test="signalLevel != null and signalLevel != ''" >
        and signallevel = #{signalLevel,jdbcType=VARCHAR}
      </if>
      <if test="issueTime != null and issueTime != ''" >
        and issuetime = #{issueTime,jdbcType=VARCHAR}
      </if>
      <if test="issueContent != null and issueContent != ''" >
        and issuecontent = #{issueContent,jdbcType=VARCHAR}
      </if>
      <if test="recoveryChannel != null and recoveryChannel != ''" >
        and recoverychannel = #{recoveryChannel,jdbcType=VARCHAR}
      </if>
      <if test="dStandardTune != null and dStandardTune != ''" >
        and dstandardtune = #{dStandardTune,jdbcType=VARCHAR}
      </if>
      <if test="relieveTime != null and relieveTime != ''" >
        and relievetime = #{relieveTime,jdbcType=VARCHAR}
      </if>
      <if test="distinctionLevel != null and distinctionLevel != ''" >
        and distinctionlevel = #{distinctionLevel,jdbcType=VARCHAR}
      </if>
      <if test="dffectValuate != null and dffectValuate != ''" >
        and dffectvaluate = #{dffectValuate,jdbcType=VARCHAR}
      </if>
      <if test="docietyBenefit != null and docietyBenefit != ''" >
        and docietybenefit = #{docietyBenefit,jdbcType=VARCHAR}
      </if>
      <if test="tNumber != null and tNumber != ''" >
        and tnumber = #{tNumber,jdbcType=VARCHAR}
      </if>
      <if test="underwriter != null and underwriter != ''" >
        and underwriter = #{underwriter,jdbcType=VARCHAR}
      </if>
      <if test="change != null and change != ''" >
        and `change` = #{change,jdbcType=INTEGER}
      </if>
    </where>
    order by alertid desc	
  </select>
  
  <select id="listByPage" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_alarminfo
    <where>
      <if test="alertId != null and alertId != ''" >
        and alertid = #{alertId,jdbcType=INTEGER}
      </if>
      <if test="alertPid != null and alertPid != ''" >
        and alertpid = #{alertPid,jdbcType=VARCHAR}
      </if>
      <if test="province != null and province != ''" >
        and province = #{province,jdbcType=VARCHAR}
      </if>
      <if test="city != null and city != ''" >
        and city = #{city,jdbcType=VARCHAR}
      </if>
      <if test="stationName != null and stationName != ''" >
        and stationname = #{stationName,jdbcType=VARCHAR}
      </if>
      <if test="stationId != null and stationId != ''" >
        and stationid = #{stationId,jdbcType=VARCHAR}
      </if>
      <if test="signalType != null and signalType != ''" >
        and signaltype = #{signalType,jdbcType=VARCHAR}
      </if>
      <if test="signalLevel != null and signalLevel != ''" >
        and signallevel = #{signalLevel,jdbcType=VARCHAR}
      </if>
      <if test="issueTime != null and issueTime != ''" >
        and issuetime = #{issueTime,jdbcType=VARCHAR}
      </if>
      <if test="issueContent != null and issueContent != ''" >
        and issuecontent = #{issueContent,jdbcType=VARCHAR}
      </if>
      <if test="recoveryChannel != null and recoveryChannel != ''" >
        and recoverychannel = #{recoveryChannel,jdbcType=VARCHAR}
      </if>
      <if test="dStandardTune != null and dStandardTune != ''" >
        and dstandardtune = #{dStandardTune,jdbcType=VARCHAR}
      </if>
      <if test="relieveTime != null and relieveTime != ''" >
        and relievetime = #{relieveTime,jdbcType=VARCHAR}
      </if>
      <if test="distinctionLevel != null and distinctionLevel != ''" >
        and distinctionlevel = #{distinctionLevel,jdbcType=VARCHAR}
      </if>
      <if test="dffectValuate != null and dffectValuate != ''" >
        and dffectvaluate = #{dffectValuate,jdbcType=VARCHAR}
      </if>
      <if test="docietyBenefit != null and docietyBenefit != ''" >
        and docietybenefit = #{docietyBenefit,jdbcType=VARCHAR}
      </if>
      <if test="tNumber != null and tNumber != ''" >
        and tnumber = #{tNumber,jdbcType=VARCHAR}
      </if>
      <if test="underwriter != null and underwriter != ''" >
        and underwriter = #{underwriter,jdbcType=VARCHAR}
      </if>
      <if test="change != null and change != ''" >
        and `change` = #{change,jdbcType=INTEGER}
      </if>
    </where>
    order by alertid desc	
    limit #{startIndex},#{pageSize}
  </select>
  
  <select id="findCount" parameterType="map" resultType="java.lang.Integer"  >
   	select count(alertid)
    from tb_alarminfo
    <where>
      <if test="alertId != null and alertId != ''" >
        and alertid = #{alertId,jdbcType=INTEGER}
      </if>
      <if test="alertPid != null and alertPid != ''" >
        and alertpid = #{alertPid,jdbcType=VARCHAR}
      </if>
      <if test="province != null and province != ''" >
        and province = #{province,jdbcType=VARCHAR}
      </if>
      <if test="city != null and city != ''" >
        and city = #{city,jdbcType=VARCHAR}
      </if>
      <if test="stationName != null and stationName != ''" >
        and stationname = #{stationName,jdbcType=VARCHAR}
      </if>
      <if test="stationId != null and stationId != ''" >
        and stationid = #{stationId,jdbcType=VARCHAR}
      </if>
      <if test="signalType != null and signalType != ''" >
        and signaltype = #{signalType,jdbcType=VARCHAR}
      </if>
      <if test="signalLevel != null and signalLevel != ''" >
        and signallevel = #{signalLevel,jdbcType=VARCHAR}
      </if>
      <if test="issueTime != null and issueTime != ''" >
        and issuetime = #{issueTime,jdbcType=VARCHAR}
      </if>
      <if test="issueContent != null and issueContent != ''" >
        and issuecontent = #{issueContent,jdbcType=VARCHAR}
      </if>
      <if test="recoveryChannel != null and recoveryChannel != ''" >
        and recoverychannel = #{recoveryChannel,jdbcType=VARCHAR}
      </if>
      <if test="dStandardTune != null and dStandardTune != ''" >
        and dstandardtune = #{dStandardTune,jdbcType=VARCHAR}
      </if>
      <if test="relieveTime != null and relieveTime != ''" >
        and relievetime = #{relieveTime,jdbcType=VARCHAR}
      </if>
      <if test="distinctionLevel != null and distinctionLevel != ''" >
        and distinctionlevel = #{distinctionLevel,jdbcType=VARCHAR}
      </if>
      <if test="dffectValuate != null and dffectValuate != ''" >
        and dffectvaluate = #{dffectValuate,jdbcType=VARCHAR}
      </if>
      <if test="docietyBenefit != null and docietyBenefit != ''" >
        and docietybenefit = #{docietyBenefit,jdbcType=VARCHAR}
      </if>
      <if test="tNumber != null and tNumber != ''" >
        and tnumber = #{tNumber,jdbcType=VARCHAR}
      </if>
      <if test="underwriter != null and underwriter != ''" >
        and underwriter = #{underwriter,jdbcType=VARCHAR}
      </if>
      <if test="change != null and change != ''" >
        and `change` = #{change,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  
</mapper>