<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vanvalt.entity.Feedbook" >
  <!-- <cache type="org.mybatis.caches.memcached.MemcachedCache" /> -->
  <resultMap id="BaseResultMap" type="com.vanvalt.entity.Feedbook" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="filepath" property="filePath" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, filepath
  </sql>
  
  <select id="load" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Feedbook
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from Feedbook
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteBatch" parameterType="map">
    delete from Feedbook
    where id in
    <foreach collection="array" item= "item" index ="index"
            open= "(" close =")" separator=",">
            #{item}
    </foreach >
  </delete>  
  
  <insert id="add" parameterType="com.vanvalt.entity.Feedbook" >
    insert into Feedbook
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="filePath != null" >
        filepath,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.vanvalt.entity.Feedbook" >
    update Feedbook
    <set >
      <if test="filePath != null" >
        filepath = #{filePath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateBatch" parameterType="map">
    update Feedbook
    <set >
     <if test="filePath != null" >
        filepath = #{filePath,jdbcType=VARCHAR},
      </if>
    </set>
    where id in
    <foreach collection="array" item= "item" index ="index"
            open= "(" close =")" separator=",">
            #{item}
    </foreach >
  </update>
  
  <select id="list" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Feedbook
    <where>
      <if test="id != null and id != ''" >
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="filePath != null and filePath != ''" >
        and filepath = #{filePath,jdbcType=VARCHAR}
      </if>
    </where>
    order by id desc	
  </select>
  
  <select id="findCount" parameterType="map" resultType="java.lang.Integer"  >
   	select count(id)
    from Feedbook
    <where>
      <if test="id != null and id != ''" >
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="filePath != null and filePath != ''" >
        and filepath = #{filePath,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  
</mapper>